<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>incoming0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,0},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>incoming1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>incoming2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{42,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>incoming.png</string>
            <key>size</key>
            <string>{60,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3b6126b5acd0f98f00fac104be7464$</string>
            <key>textureFileName</key>
            <string>incoming.png</string>
        </dict>
    </dict>
</plist>
