<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>paused.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,16}}</string>
			<key>sourceSize</key>
			<string>{96,16}</string>
		</dict>
		<key>pressakey.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,32},{96,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,46}}</string>
			<key>sourceSize</key>
			<string>{96,46}</string>
		</dict>
		<key>winner.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,16},{96,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,16}}</string>
			<key>sourceSize</key>
			<string>{96,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>message.png</string>
		<key>size</key>
		<string>{96,78}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:c862f6a7bcb6bb6be289ab5feaad9045$</string>
		<key>textureFileName</key>
		<string>message.png</string>
	</dict>
</dict>
</plist>
