<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paused.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{288,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,48}}</string>
                <key>sourceSize</key>
                <string>{288,48}</string>
            </dict>
            <key>pressakey.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{288,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,138}}</string>
                <key>sourceSize</key>
                <string>{288,138}</string>
            </dict>
            <key>winner.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{288,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,48}}</string>
                <key>sourceSize</key>
                <string>{288,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>message.png</string>
            <key>size</key>
            <string>{288,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c4b315f61891bd1ce7b69b9e1f81799$</string>
            <key>textureFileName</key>
            <string>message.png</string>
        </dict>
    </dict>
</plist>
