<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2up.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
            <key>cpu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,7},{15,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,7}}</string>
                <key>sourceSize</key>
                <string>{15,7}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playertags.png</string>
            <key>size</key>
            <string>{15,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a135254e27502b5e6e24be5bdfe43a5b$</string>
            <key>textureFileName</key>
            <string>playertags.png</string>
        </dict>
    </dict>
</plist>
